@import url('https://fonts.googleapis.com/css?family=Teko:400,700&display=swap');

/* Clean Slate */
body {
    min-height: 100vh;
    background-color: #b0b0b0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 95%;
    max-width: 350px;
    padding: 5px;

    background-color: #ddd;
}


/* SCREEN */

.screen {
    padding: 1em;
    margin-bottom: 5px;

    background-color: #333;

    color: #fff;
}

.screen__history {
    min-height: 23px;
    
    text-align: right;
}

#history {
    text-align: right;
    letter-spacing: .2em;
}

.screen__current {
    margin-top: .25em;

    font-size: 2em;
    text-align: right;
    letter-spacing: .1em;
}


/* BUTTONS */

.pad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.btn {
    width: 100%;
    padding: 2em 0;
    
    background-color: #ccc;
    cursor: pointer;
    
    justify-self: center;
    text-align: center;

    transition: filter 50ms ease-out;
}

.btn:hover {
    filter: brightness(.8);
}

.btn::selection {
    color: none;
    background: none;
}

#btn-equals {
    background-color: #FF7119;
    
    color: #fff;
}

.btn-operation {
    background-color: #aaa;
}


